<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="http://www.thecocktaildb.com/api/json/v1/1/"/>
		<add key="searchByNameQuery" value="search.php?s="/>
		<add key="lookupIngredientByNameQuery" value="search.php?i="/>
		<add key="randomCocktail" value="random.php"/>
		<add key="searchByIngredientNameQuery" value="filter.php?i="/>
		<add key="listDrinkCategories" value="list.php?c=list"/>
		<add key="listDrinkIngredients" value="list.php?i=list"/>
		<add key="listDrinksByCategoryQuery" value="filter.php?c="/>
		
	</appSettings>
</configuration>